In [5]:
import pandas as pd
import numpy as np

bound = 0.1
mse_data = pd.read_csv('10stocks_mse_opt.csv', index_col = 0)
mean_mse_data = pd.read_csv('10stocks_mean_mse_opt.csv', index_col = 0)

In [6]:
mse_data

,XRX,GS,SPGI,MTB,V,CTAS,ESRX,APH,BBT,RHI
0,0.000216,0.000162,0.000260,0.000147,0.105605,0.000112,0.000256,0.000075,0.000106,0.000196
1,0.000218,0.000162,0.000461,0.000217,0.255980,0.000113,0.000256,0.000076,0.000112,0.000499
2,0.000216,0.000162,0.001371,0.000160,0.001959,0.000118,0.000257,0.000076,0.000161,0.000211
3,0.000166,0.000151,0.000074,0.000125,0.000065,0.000144,0.000234,0.000060,0.000119,0.000196
4,0.000220,0.000194,0.000168,0.000145,0.000110,0.000112,0.000257,0.000146,0.000110,0.000213
5,0.000230,0.000216,0.000179,0.000202,0.000112,0.000264,0.000256,0.000531,0.000151,0.000342

In [16]:
mean_mse_data.iloc[0, 1]

0.0258092427879351

In [13]:
mean_mse_data

        ESN      DESN      HESN     ARIMA      LSTM       GRU
0  0.010713  0.025809  0.000469  0.000133  0.000167  0.000248

In [33]:
def hit_probability(model):
    max_mse = mean_mse_data.iloc[0, model]*(1+bound)
    return ((mse_data.iloc[model] > max_mse).sum())/mse_data.shape[1]

In [34]:
#hit_dict = {"ESN": 0, "DESN": 0, "HESN": 0, "ARIMA": 0, "LSTM": 0, "GRU": 0}
hit_dict = {}
hit_arr = ["ESN", "DESN", "HESN", "ARIMA", "LSTM", "GRU"]

for i in range(len(hit_arr)):
    hit_dict[hit_arr[i]] = hit_probability(i)
    
hit_dict

{'ESN': 0.1, 'DESN': 0.1, 'HESN': 0.2, 'ARIMA': 0.4, 'LSTM': 0.4, 'GRU': 0.2}